div {
    background: linear-gradient( 45deg, #AD31A9, #f374ef, #f58af1 );
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
   
}
p {
    text-align: center;
    font-size: 5em;
    font-style: italic;
    padding-top: 25%;
}