 * {
   margin: 0px;
   padding: 0px;
 }
 
 header {
   height: 80px;
    background-color: #4d37a5;
    padding: 10px;
}

.button-enter input {
    float: right;
    border: none;
    outline: none;
    padding: 9px 25px;
    background:transparent;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    color: white;
   
}

.button-enter input:hover {
  background: black;
}
 
 nav.links {
  text-align: center;
 }

 nav.links > a {
  text-decoration: none;
   color: white;
   padding: 10px;
   font-size: 20px;
   border-radius: 3px;
  
 }