* {
  margin: 0px;
  padding: 0px;

}
body {
  overflow-x: auto;
}

header {
  height: 50px;
   background-color: #181818;
   padding: 10px;
   box-shadow: 0px 7px 7px  rgba(0, 0, 0, 0.253);
}

.button-enter input {
   float: right;
   border: none;
   outline: none;
   margin-top: 25px;
   padding: 9px 25px;
   background:transparent;
   cursor: pointer;
   font-size: 0.9em;
   border-radius: 4px;
   font-weight: 600;
   color: white;
   text-shadow: 2px 2px black;
   
}

.button-enter input:hover {
 background: #af9cfb79;
 color: #e4defe;
}

nav.links {
 text-align: center;
 margin-top: 25px;
}

nav.links > a {
 text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
  text-shadow: 2px 2px black;
}

.links > a:hover {
  background: #e3defe0c;
}

.main {
  background: #464646ad;
  height: 550px;
}

.knowing {
  display: flex;
  background-color: #636363;
  padding-top: 50px;
  padding-left: 50px;
}

.box-knowing {
  position: relative;
  left: 10%;
  margin: auto;
}

.input-knowing {
  align-items: center;
  margin-top: 10%;
  margin-right: 50%;
  display: flex;
}